=content_for :header do
  = "Create a New Service"

= f.input :name, required: true, :as => :string
= f.input :type, required: true, collection: Service::SERVICE_TYPES, include_blank: "Select a Service Type"
-# Transportation Agency field is readonly if the user is not a super user or an oversight user viewing as oversight
- disable_agency_field = !(current_user.superuser? || (current_user.currently_oversight?))
= f.input :agency_id,
  collection: @transportation_agencies,
  disabled: disable_agency_field,
  required:true,
  include_blank: 'Select a Transportation Agency for the new Service',
  label_method: :name,
  label: "Transportation Agency",
  selected: @default_agency&.id,
  wrapper_html: {id: 'oversight_select'}
-# HIDDEN INPUT FOR AGENCY ID WHEN APPLICABLE
= f.input :agency_id,
  as: :hidden,
  input_html: {id: 'hidden_agency',
    value: current_user.current_agency&.id || current_user.staff_agency&.id },
  disabled: !disable_agency_field
=simple_form_for :oversight do |foa|
  - default_oversight = current_user.staff_agency&.transportation? ? current_user.staff_agency&.agency_oversight_agency&.oversight_agency&.id : current_user.staff_agency&.id
  = foa.input :oversight_agency_id,
      collection: @oversight_agencies,
      disabled: !current_user.superuser?,
      required:true,
      include_blank: 'Select an Oversight Agency for the new Service',
      label_method: :name,
      value_method: :id,
      selected: default_oversight || '',
      wrapper_html: {id: 'oversight_select'}
  -# HIDDEN INPUT FOR OVERSIGHT AGENCY ID WHEN APPLICABLE,
    SHOULD BE DISABLED IF SUPERUSER AS SUPERUSER CAN SELECT ALL OVERSIGHT AGENCIES
  = foa.input :oversight_agency_id,
    as: :hidden,
    name: 'oversight[oversight_agency_id]',
    label: 'Oversight Agency:',
    input_html: {id: 'hidden_oversight_agency',
      value: default_oversight},
    disabled: current_user.superuser?
