=content_for :header do
  = "Create a New Service"

= f.input :name, required: true, :as => :string
= f.input :type, required: true, collection: Service::SERVICE_TYPES, include_blank: "Select a Service Type"
=simple_form_for :oversight do |foa|
  -# If they're a superuser, show all transportation and oversight agencies
  - if current_user.superuser?
    = foa.input :transportation_agency_id,
      collection: TransportationAgency.all
    -# = foa.input :oversight_agency_id,
    -#   required: true,
    -#   collection: OversightAgency.all,
    -#   label_method: :name,
    -#   value_method: :id,
    -#   wrapper_html: {id: 'oversight_select'}
  -# if the current user is part of a staff agency, then try set their oversight agency
  - if current_user.staff_agency&.transportation?
    = foa.input :transportation_agency_id,
        collection: [current_user.staff_agency],
        readonly:true,
        include_blank: false,
        label_method: :name,
        value_method: :id,
        selected: current_user.staff_agency.id
    = foa.input :oversight_agency_id,
        collection: [current_user.staff_agency.agency_oversight_agency.oversight_agency],
        readonly:true,
        include_blank: false,
        label_method: :name,
        value_method: :id,
        selected: current_user.staff_agency.agency_oversight_agency.oversight_agency.id,
        wrapper_html: {id: 'oversight_select'}
  -# Automatically assign the new agency to the current user's oversight agency if they are an oversight agency admin
  - if current_user.staff_agency&.oversight? && current_user.admin?
    - if current_user.current_agency&.oversight?
      = foa.input :transportation_agency_id,
        collection: TransportationAgency.where(id:current_user.current_agency.agency_oversight_agency.pluck(:transportation_agency_id)),
        label_method: :name,
        value_method: :id
    - if current_user.current_agency&.transportation?
      = foa.input :transportation_agency_id,
        collection: [current_user.current_agency],
        readonly:true,
        include_blank: false,
        label_method: :name,
        value_method: :id,
        selected: current_user.current_agency.id
    = foa.input :oversight_agency_id,
        collection: [current_user.staff_agency],
        readonly:true,
        include_blank: false,
        label_method: :name,
        value_method: :id,
        selected: current_user.staff_agency.id,
        wrapper_html: {id: 'oversight_select'}
