=content_for :header do
  = "Create a New Service"

= f.input :name, required: true, :as => :string
= f.input :type, required: true, collection: Service::SERVICE_TYPES, include_blank: "Select a Service Type"
-# Transportation Agency field is readonly if the user is not a super user or an oversight user viewing as oversight
= f.input :agency_id,
  collection: @transportation_agencies,
  readonly: !current_user.superuser? && !current_user.currently_oversight?,
  required:true,
  include_blank: 'Select a Transportation Agency for the new Service',
  label_method: :name,
  label: "Transportation Agency",
  selected: @default_agency&.id,
  wrapper_html: {id: 'oversight_select'}
=simple_form_for :oversight do |foa|
  - default_oversight = current_user.staff_agency&.transportation? ? current_user.staff_agency&.agency_oversight_agency&.oversight_agency&.id : current_user.staff_agency&.id
  = foa.input :oversight_agency_id,
      collection: @oversight_agencies,
      readonly: !current_user.superuser?,
      required:true,
      include_blank: 'Select an Oversight Agency for the new Service',
      label_method: :name,
      value_method: :id,
      selected: default_oversight || '',
      wrapper_html: {id: 'oversight_select'}

:javascript

  $(document).ready(function() {

    // add onchange listener to the input for transit agency
    // on change, jquery select the input for oversight agency
      // find the option with the transit agency's oversight agency(does not seem possible unless you store it as a data-attribute)
      
  });