=content_for :header do
  Service Areas

= f.input :start_or_end_area, label: "All trips must start or end in this area",
  input_html: { value: @service.start_or_end_area.recipe.to_s }
%h4 MAP
= map(center: { latlng: @service.start_or_end_area.center_of_geom, zoom: 0 })

=content_for :footer do
  = f.button :submit, "OK", class: "btn action-button btn-primary", role: 'button'

:javascript
  $(document).ready(function() {

    var tripWithinArea = L.polygon(
      #{@service.trip_within_area.geom_to_array}, {color: 'cornflowerblue'}
    ).addTo(map);

    var startOrEndArea = L.polygon(
      #{@service.start_or_end_area.geom_to_array}, {color: 'indianred'}
    ).addTo(map);

    map.fitBounds(startOrEndArea.getBounds());

  });
