=content_for :header do
  Service Areas

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  =render partial: 'admin/services/region_builder',
    locals: { wrapper_id: 'start-or-end-area', label_text: "All trips must start OR end in this area:"}
  =f.simple_fields_for :start_or_end_area do |r|
    =r.input :recipe, as: :hidden,
      input_html: { value: @service.start_or_end_area.recipe.to_json }

  =render partial: 'admin/services/region_builder',
    locals: { wrapper_id: 'trip-within-area', label_text: "All trips must start AND end within this area:"}
  =f.simple_fields_for :trip_within_area do |r|
    =r.input :recipe, as: :hidden,
      input_html: { value: @service.trip_within_area.recipe.to_json }

  .row
    .col-sm-2
    .col-sm-8
      = map(center: { latlng: [42, -71], zoom: 5 })

:javascript
  $(document).ready(function() {

    var fh = new FormHandler($('#{form_selector_from_id}'));

    M.drawMaps([
      #{@service.trip_within_area && @service.trip_within_area.geom_to_array},
      #{@service.start_or_end_area && @service.start_or_end_area.geom_to_array}
    ]);

    var startOrEndAreaRecipe = new M.Recipe({
      container: $('#start-or-end-area'),
      recipeInput: $('#paratransit_start_or_end_area_attributes_recipe'),
      searchPath: '#{admin_service_path}',
      ingredientLabelTag: '#{escape_javascript render partial: "admin/services/ingredient_label"}'
    });

    var tripWithinAreaRecipe = new M.Recipe({
      container: $('#trip-within-area'),
      recipeInput: $('#paratransit_trip_within_area_attributes_recipe'),
      searchPath: '#{admin_service_path}',
      ingredientLabelTag: '#{escape_javascript render partial: "admin/services/ingredient_label"}'
    });

    fh.onReset(function() {
      startOrEndAreaRecipe.reset();
      tripWithinAreaRecipe.reset();
    });


  });
