=content_for :header do
  Service Areas

.form-group.string.optional.start-or-end-area
  %label.col-sm-6.control-label.text.optional{for: 'paratransit_start_or_end_area'} All trips must start or end in this area:
  .col-sm-4
    .input-group.col-sm-12
      %input#start-or-end-area-input.form-control.string.optional{type: 'text'}
    #start-or-end-area-results.dropdown{style: 'position:absolute; z-index:500'}
.well#start-or-end-area-display
=f.simple_fields_for :start_or_end_area do |r|
  =r.input :recipe,
    wrapper_html: {class: 'hidden'},
    input_html: { value: @service.start_or_end_area.recipe.to_json }

.form-group.string.optional.trip-within-area
  %label.col-sm-6.control-label.text.optional{for: 'paratransit_trip_within_area'} All trips must start AND end within this area:
  .col-sm-4
    .input-group.col-sm-12
      %input#trip-within-area-input.form-control.string.optional{type: 'text'}
    #trip-within-area-results.dropdown{style: 'position:absolute; z-index:499'}
.well#trip-within-area-display
=f.simple_fields_for :trip_within_area do |r|
  =r.input :recipe,
    wrapper_html: {class: 'hidden'},
    input_html: { value: @service.trip_within_area.recipe.to_json }

.row
  .col-sm-2
  .col-sm-8
    = map(center: { latlng: [42, -71], zoom: 5 })

=content_for :footer do
  = f.button :submit, "OK", class: "btn action-button btn-primary", role: 'button'

:javascript
  $(document).ready(function() {

    var app = window.app = {};

    M.drawMaps([
      #{@service.trip_within_area && @service.trip_within_area.geom_to_array},
      #{@service.start_or_end_area && @service.start_or_end_area.geom_to_array}
    ]);

    new M.Recipe({
      fieldName: 'start-or-end-area',
      recipeForm: 'paratransit_start_or_end_area_attributes_recipe',
      searchPath: '#{admin_service_path}',
      ingredientLabelTag: '#{escape_javascript render partial: "admin/services/ingredient_label"}'
    });

    new M.Recipe({
      fieldName: 'trip-within-area',
      recipeForm: 'paratransit_trip_within_area_attributes_recipe',
      searchPath: '#{admin_service_path}',
      ingredientLabelTag: '#{escape_javascript render partial: "admin/services/ingredient_label"}'
    });


  });
