=content_for :header do
  Accommodations & Eligibility

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  = f.association :accommodations, as: :check_boxes
  = f.association :eligibilities, as: :check_boxes
  %h4.text-center="Age Questions"
  = f.input :max_age, as: :integer, label: "Riders MUST be no more than"
  = f.input :min_age, as: :integer, label: "Riders MUST be at least"
  = f.input :eligible_max_age, as: :integer, label: "Eligible max"
  = f.input :eligible_min_age, as: :integer, label: "Eligible min"

:javascript
  $(document).ready(function() {
    new FormHandler($('#{form_selector_from_id}'));
  });
