=content_for :header do
  Service Areas

.form-group.string.optional.start-or-end-area
  %label.col-sm-3.control-label.text.optional{for: 'paratransit_start_or_end_area'} All trips must start or end in this area
  .col-sm-9
    .input-group.col-sm-12
      %input#start-or-end-area-input.form-control.string.optional{type: 'text'}
    #start-or-end-area-results.results
  .col-sm-12
    #start-or-end-area-display
      -# -@service.start_or_end_area.recipe.ingredients.each_with_index do |ing, i|
      -#   .start-or-end-area-ingredient{ 'data-index' => i }
      -#     %span=ing.to_s
      -#     .btn.btn-link X
=f.simple_fields_for :start_or_end_area do |r|
  =r.input :recipe, input_html: { value: @service.start_or_end_area.recipe.to_json }
-# = f.input :start_or_end_area, label: "FOR SUBMIT",
-#   input_html: { value: @service.trip_within_area.recipe.to_a, id: 'start_or_end_area-recipe-form' }

-# = f.input :start_or_end_area, label: "All trips must start or end in this area",
-#   input_html: { value: @service.start_or_end_area.recipe.humanize }
-# = f.input :trip_within_area, label: "All trips must start or end in this area",
-#   input_html: { value: @service.trip_within_area.recipe.humanize }
= map(center: { latlng: @service.start_or_end_area.center_of_geom, zoom: 0 })

=content_for :footer do
  = f.button :submit, "OK", class: "btn action-button btn-primary", role: 'button'

:javascript
  $(document).ready(function() {

    var app = window.app = {};

    M.drawMaps([
      #{@service.trip_within_area.geom_to_array},
      #{@service.start_or_end_area.geom_to_array}
    ]);
    new M.Recipe({
      fieldName: 'start-or-end-area',
      recipeForm: 'paratransit_start_or_end_area_attributes_recipe',
      searchPath: '#{admin_service_path}',
      ingredientLabelTag: '#{escape_javascript render partial: "admin/services/ingredient_label"}'
    });


  });
