=content_for :header do
  General Info
  =render partial: "shared/published_badge", locals: {object: @service}

=simple_form_for @service,
  url: admin_service_path, remote: true, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  =f.input :name
  =logo_upload_input(f)
  =f.input :url
  =f.input :phone
  =f.input :email
  - if current_user.transportation_staff? || current_user.transportation_admin?
    =f.association :agency,
      label: 'Transportation Agency',
      include_blank: "Select a Transit Agency",
      selected: @service.agency&.id ,
      collection: TransportationAgency.where(id:current_user.accessible_agencies.pluck(:id)),
      readonly: (@service && (cannot? :update, @service)) ||(@service.nil? && (can? :create, Service))
  -if current_user.superuser?
    =f.association :agency,
      label: 'Transportation Agency',
      include_blank: "Select a Transit Agency",
      selected: @service.agency&.id,
      collection: TransportationAgency.all
  - if current_user.currently_oversight? && current_user.oversight_admin?
    =f.association :agency,
      label: 'Transportation Agency',
      include_blank: "Select a Transit Agency",
      selected: @service.agency&.id,
      collection: TransportationAgency.where(id:current_user.staff_agency.agency_oversight_agency.pluck(:transportation_agency_id))
  - if current_user.currently_transportation? && current_user.oversight_admin?
    =f.association :agency,
      label: 'Transportation Agency',
      include_blank: "Select a Transit Agency",
      selected: @service.agency&.id,
      collection: [current_user.current_agency]
  =simple_form_for :oversight do |foa|
    -# If they're a superuser, show all oversight agencies
      -# Make the oversight agency input readonly if the service already has an oversight agency
    - if current_user.superuser?
      = foa.input :oversight_agency_id,
        required: true,
        collection: OversightAgency.all,
        readonly: !@service&.service_oversight_agency&.oversight_agency.nil?,
        label_method: :name,
        value_method: :id,
        selected: @service&.service_oversight_agency&.oversight_agency&.id,
        wrapper_html: {id: 'oversight_select'}
    - if current_user.staff_agency&.transportation?
      = foa.input :oversight_agency_id,
          collection: [@service&.service_oversight_agency&.oversight_agency || current_user.staff_agency.agency_oversight_agency.oversight_agency],
          readonly: !@service&.service_oversight_agency&.oversight_agency.nil?,
          include_blank: false,
          label_method: :name,
          value_method: :id,
          selected: @service&.service_oversight_agency&.oversight_agency&.id,
          wrapper_html: {id: 'oversight_select'}
    - if current_user.currently_oversight? && current_user.oversight_admin?
      = foa.input :oversight_agency_id,
          collection: [@service&.service_oversight_agency&.oversight_agency || current_user.staff_agency],
          readonly: !@service&.service_oversight_agency&.oversight_agency.nil?,
          include_blank: false,
          label_method: :name,
          value_method: :id,
          selected: @service&.service_oversight_agency&.oversight_agency&.id || current_user.staff_agency.id,
          wrapper_html: {id: 'oversight_select'}

:javascript
  $(document).ready(function() {
    const fh =new FormHandler($('#{form_selector_from_id}'));
    if ('#{@service&.service_oversight_agency&.oversight_agency.nil?}' == 'true') {
      fh.enableButtons()
    }
  });
