=content_for :title do
  = "Editing #{@service.type} Service: #{@service.name}"

-# = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
-#   =render partial: 'service_general_info', layout: '/layouts/panel', locals: {f: f}
-# = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
=render partial: 'service_general_info', layout: '/layouts/panel'

=render partial: 'service_comments', layout: '/layouts/panel'

-case @service.type
-when 'Transit'
  = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'transit_details_1', layout: '/layouts/panel', locals: {f: f}
-when 'Paratransit'
  = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'paratransit_details_1', layout: '/layouts/panel', locals: {f: f}
  = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'purpose_picker', layout: '/layouts/panel', locals: {f: f}
  = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'paratransit_details_2', layout: '/layouts/panel', locals: {f: f}
  = simple_form_for @service, url: admin_service_path, wrapper: :inline_input_group, html: {class: 'form-inline', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'paratransit_details_3', layout: '/layouts/panel', locals: {f: f}
-when 'Taxi'
  = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'taxi_details_1', layout: '/layouts/panel', locals: {f: f}
  = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'taxi_details_2', layout: '/layouts/panel', locals: {f: f}
  = simple_form_for @service, url: admin_service_path, html: {class: 'form-horizontal', multipart: true, method: :put }, authenticity_token: true do |f|
    =render partial: 'taxi_details_3', layout: '/layouts/panel', locals: {f: f}

:javascript
  $(document).ready(function() {
    var FH = new FormHelper();
  });
