%table
  %tr
    %td
      =image_tag(attachments["start.png"].url, height: 26, width: 26, style: 'vertical-align: top;')
    %td
      %h3
        = "#{translate("api_v1.emails.user_trip.start")} #{itinerary.trip.origin.name}"
      = itinerary.start_time.in_time_zone.strftime('%l:%M %p').strip
  %br
  -itinerary.legs.each do |leg|
    %tr
      %td{style: "vertical-align:top;"}
        =image_tag(attachments[get_mode_icon(leg['mode'])].url, height: 26, width: 26, style: 'vertical-align: top;')
      %td
        %h3
          ="#{Time.at(leg['startTime']/1000).in_time_zone.strftime('%l:%M %p').strip}: #{short_description(leg)}"
        %h4
          =[duration_to_words(leg['duration']), exact_distance_to_words(leg['distance'])].join(', ')
        = html_steps(leg['steps'])
        
  %br  
  %tr
    %td
      =image_tag(attachments["stop.png"].url, height: 26, width: 26, style: 'vertical-align: top;')
    %td
      %h3
        ="#{translate("api_v1.emails.user_trip.arrive")} #{itinerary.trip.destination.name}"
      = itinerary.end_time.in_time_zone.strftime('%l:%M %p').strip
