%table.trip_summary_container{style: "padding: 10px 0px;"}
  %tr
  %td.trip_summary{style: "valign: middle; font-family: 'Helvetica Neue', Arial; font-size: 0.88em;"}
    -if itinerary.cost
      %span{style: "font-weight: bold;"}= 'Fare'
      %span=' : '
      -if itinerary.trip_type == 'taxi'
        %span=number_to_currency(itinerary.cost.round) + " estimated"
      -else
        %span=number_to_currency(itinerary.cost)

    -if itinerary.start_time
      %span{style: "font-size: 0.6em; padding-left:12px; padding-right: 12px; color: grey;"}=' | '
      %span{style: "font-weight: bold;"}= "Depart at"
      %span=' : '
      %span=itinerary.start_time.in_time_zone.strftime('%l:%M %p').strip

    -if itinerary.end_time
      %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
      %span{style: "font-weight: bold;"}= "Arrive at"
      %span=' : '
      %span=itinerary.end_time.in_time_zone.strftime('%l:%M %p').strip

    -if itinerary.duration
      %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
      %span{style: "font-weight: bold;"}= 'Duration'
      %span=' : '
      %span.duration= duration_to_words(itinerary.duration)

    -if itinerary.walk_time && itinerary.walk_time > 0
      %span{style: "font-size: 0.6em; padding: 0px 12px; color: #b1b1b1;"}=' | '
      %span{style: "font-weight: bold;"}= 'Walking'
      %span=' : '
      %span=duration_to_words(itinerary.walk_time)

