%table
  %tr
    %td.itinerary-icons
      =image_tag(attachments["start.png"].url, height: 26, width: 26, style: 'vertical-align: top;')
    %td.itin-text-container
      .itinerary-text
        = "Start " + itinerary.trip.origin.name
      .itinerary-text-small
        = @itinerary.start_time.in_time_zone.strftime("%A, %B %-d")

  -itinerary.legs.each do |leg|
    %tr
      %td.itinerary_icons{style: "vertical-align:top;"}
        =image_tag(attachments[get_mode_icon(leg['mode'])].url, height: 26, width: 26, style: 'vertical-align: top;')
      %td.itin-text-container
        .itinerary-text
          %p= html_steps(leg['steps'])
        %h3
          =[duration_to_words(leg['duration']), exact_distance_to_words(leg['distance'])].join(', ')
  %tr
    %td.itinerary-icons
      =image_tag(attachments["stop.png"].url, height: 26, width: 26, style: 'vertical-align: top;')
    %td.itin-text-container
      .itinerary-text
        = "Arrive " + itinerary.trip.destination.name
      .itinerary-text-small
        = @itinerary.end_time.in_time_zone.strftime("%A, %B %-d")
  %tr
    %td{style: "text-align: center;", colspan: 2}
      %div{style: "width:100%;background: white; border-radius: 5px; padding: 10px;"}
        =image_tag(attachments[itinerary.id.to_s + ".png"].url)
