%h2
  ="Hello #{@user.first_name} #{@user.last_name}"

Your password has been reset. Please sign on with your new password and reset it to a password of your choosing as soon as possible.

%br
  = "Your username: #{@user.email}"
  
%br
  = "Your new password: #{@new_password}"
