%h2
  ="#{translate('api_v2.emails.reset_password.greeting')} #{@user.first_name} #{@user.last_name}"

=translate("api_v2.emails.reset_password.intro")

%br
  = "#{translate('api_v2.emails.reset_password.your_username')}: #{@user.email}"
  
%br
  = "#{translate('api_v2.emails.reset_password.your_new_password')}: #{@new_password}"
