%div.email-body{ :style => "font-family: Arial,Helvetica Neue,Helvetica,sans-serif;" }
  = render :partial => 'fmr_email_header'
  %h2
    %div{ :style => "border-radius: 1px; padding: 10px; border: 0px solid #A9A9A9; background:#CDFECE" }
      Shared Ride
  -outbound = true
  -@decorated_bookings.each do |decorated_booking|
    -booking = decorated_booking[:booking]
    -itinerary = booking.itinerary
    -trip = itinerary.trip
    -trip_hash = decorated_booking[:trip_hash]
    %h3
      -if @decorated_bookings.count == 1
        ="Your Trip"
      -elsif trip.previous_trip.nil? 
        ="Outbound Trip"
        -outbound = false
      -else
        ="Return Trip"

    %div{:style => "color:gray;"}
      =trip.trip_time.strftime("%A, %B %e")

    %br
    %div{:style => "font-weight:bold;"}
      %div{:style => "float:left;"}
        =distance_of_time_in_words(Time.now, Time.now + trip_hash[:duration])
      %div{:style => "float:right;"}
        =itinerary.describe_cost
    %br
    %div.trip{ :style => "border-radius: 1px; padding: 1px; border: 1px solid #A9A9A9;" }
      %table{:style => "cellspacing:0,border:0,width:400"}
        %tr
          %td{width: "150px", valign: "top", :style => "float:left;" }
            =booking.earliest_pu.strftime("%l:%M %p")

          %td
            %div{:style => "color:grey; font-size:90%"}
              WAIT for Shared Ride
            %br
            - if trip.origin.name.present?
              %div{:style => "color:grey; font-size:100%; font-weight:bold;"}
                = trip.origin.name + ', '
            %div{:style => "color:grey; font-size:100%; font-weight:bold;"}
              = trip.origin.to_s
            %br
            %div{:style => "color:grey; font-size:90%"}
              ="Confirm#: " + booking.confirmation
        %tr
          %td{width: "150px", valign: "top", :style => "float:left;", height: "100px" }
            =booking.latest_pu.strftime("%l:%M %p")
          %td
        %tr
          %td{width: "150px", valign: "top", :style => "float:left;"}
            =itinerary.end_time_desc(booking)
          %td{width: "100%", :style => "border-radius: 0px; padding: 10px; border: 0px; background:#f2f2f2" }
            %div{:style => "color:grey; font-size:90%"}
              Arrive
            %br
            - if trip.destination.name.present?
              %div{:style => "color:grey; font-size:100%; font-weight:bold;"}
                = trip.destination.name + ', '
            %div{:style => "color:grey; font-size:100%; font-weight:bold;"}
              = trip.destination.to_s

    %br
    %br


