:css
  h1 {
    text-align: center;
  }

  .service_schedule_description label {
    width: 8.3333333333%;
  }

  .service_schedule_description .col-sm-9 {
    width: 91.6666666667%;
  }

-# TODO: pass calendar dates type correctly through to view
- mode = local_assigns[:mode]
- agency = local_assigns[:agency]
- schedule_type = local_assigns[:schedule_type]

%h1
  = "#{mode.capitalize} Service Schedule"
  - form_url = mode == "new" ? admin_service_schedules_path : admin_service_schedule_path
= simple_form_for @service_schedule,
  url: form_url,
  authenticity_token: true,
  data: {type: 'html'},
  html: {class: 'form-horizontal form-container', id: form_id_from_path, multipart: true, method: mode == "new" ? :post : :put} do |f|

  .col-sm-4
    = f.input :agency, readonly: true, input_html: {value: agency}
  .col-sm-4
    = f.input :name, readonly: mode == "view"
  .col-sm-4
    = f.association :service_schedule_type, label: "Type", collection: ServiceScheduleType.all, include_blank: false, disabled: mode == "view", value: schedule_type
  .col-sm-12
    = f.input :description, readonly: mode == "view"
    %hr

  .col-sm-12
    = render partial: 'service_sub_schedule_form', locals: {mode: mode, f: f, form_id: form_selector_from_id, form_url: form_url, schedule_type: schedule_type}, layout: '/layouts/panel'

  // TODO: Toggle bottom form based on schedule type (should try frontend approach)
  :javascript
    $("#service_schedule_service_schedule_type_id").on("change", function() {

    });