:css
  h1 {
    text-align: center;
  }

  .service_schedule_description label {
    width: 8.3333333333%;
  }

  .service_schedule_description .col-sm-9 {
    width: 91.6666666667%;
  }

- mode = local_assigns[:mode]
- agency = local_assigns[:agency]
- schedule_type = local_assigns[:schedule_type]
- schedule_name = local_assigns[:schedule_name]
- schedule_description = local_assigns[:schedule_description]

%h1
  = "#{mode.capitalize} Service Schedule"
  - form_url = mode == "new" ? admin_service_schedules_path : admin_service_schedule_path
= simple_form_for @service_schedule,
  url: form_url,
  authenticity_token: true,
  data: {type: 'html'},
  html: {class: 'form-horizontal form-container', id: form_id_from_path, multipart: true, method: mode == "new" ? :post : :put} do |f|

  .col-sm-4
    = f.association :agency, selected: agency.id, disabled: true
    = f.input :agency_id, as: :hidden, input_html: {value: agency.id}
  .col-sm-4
    = f.input :name, readonly: mode == "view", placeholder: "Enter schedule name", input_html: {value: schedule_name}
  .col-sm-4
    = f.association :service_schedule_type, label: "Type", collection: ServiceScheduleType.all, required: true, include_blank: "Select schedule type", disabled: mode == "view", value: schedule_type
  .col-sm-12
    = f.input :description, readonly: mode == "view", input_html: {value: schedule_description}
    %hr

  .col-sm-12
    = render partial: 'service_sub_schedule_form', locals: {mode: mode, f: f, form_id: form_selector_from_id, form_url: form_url, schedule_type: schedule_type}, layout: '/layouts/panel'

:javascript
  $(document).ready(function() {
    if (#{mode == "view"}) {
      $(".panel-footer center .btn").hide();
      $(".panel-footer center").append('#{raw escape_javascript link_to "Done", admin_service_schedules_path, class: "btn btn-primary"}')
    }
  });