-I18n.available_locales.each do |locale|
  .h4
    =locale
  .row
    .div.col-md-4
      ="#{object.class.name.downcase}_#{object.code}_name"
    .div.col-md-8
      =SimpleTranslationEngine.translate(locale, "#{object.class.name.downcase}_#{object.code}_name")
  .row
    .div.col-md-4
      ="#{object.class.name.downcase}_#{object.code}_note"
    .div.col-md-8
      =SimpleTranslationEngine.translate(locale, "#{object.class.name.downcase}_#{object.code}_note")
  .row
    .div.col-md-4
      ="#{object.class.name.downcase}_#{object.code}_question"
    .div.col-md-8
      =SimpleTranslationEngine.translate(locale, "#{object.class.name.downcase}_#{object.code}_question")
