-# TODO: Setup proper link paths
%h1.text-center Travel Patterns
.cntr-root
  %section.cntr-secondary.col-md-4
    -# Geographies related links
    .subcntr
      = link_to 'Standard Geographies', admin_geographies_path, class: 'btn btn-default'
      = link_to 'Custom Geography', admin_custom_geographies_path, class: 'btn btn-primary'
      -# POIs related links
      = link_to 'System POIs', admin_landmarks_path, class: 'btn btn-default'
      = link_to 'Sets of POIs', admin_landmark_sets_path, class: 'btn btn-primary'
    .subcntr
      %p
        placeholder for arrows
  %section.cntr-secondary.col-md-4
    .subcntr
      = link_to 'Service Schedules', admin_schedules_path, class: 'btn btn-primary'
      = link_to 'O/D Zones', admin_odzones_path, class: 'btn btn-primary'
      = link_to 'Trip Purposes', admin_purposes_path, class: 'btn btn-default'
      = link_to 'Funding Sources',  admin_services_path, class: 'btn btn-default'
    .subcntr
      %p
        placeholder for arrows
  %section.cntr-travelpattern.col-md-4
    = link_to 'Travel Pattern', admin_travel_patterns_path, class: 'btn btn-primary'