- cannot_update_agency = cannot? :update, @agency
- viewing_oversight_as_transit = current_user.currently_transportation? && @agency.type == 'OversightAgency'
=content_for :header do
  ="#{(can? :update, @agency) && !viewing_oversight_as_transit ? "Editing" : "Viewing"} Agency"
  =render partial: "shared/published_badge", locals: {object: @agency}


=simple_form_for @agency,
  url: admin_agency_path, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|

  =f.input :name, readonly: cannot_update_agency || viewing_oversight_as_transit
  =logo_upload_input(f, img_src: @agency.logo.thumb.url, readonly: cannot_update_agency || viewing_oversight_as_transit)
  =f.input :url, readonly: cannot_update_agency || viewing_oversight_as_transit
  =f.input :phone, readonly: cannot_update_agency || viewing_oversight_as_transit
  =f.input :email, readonly: cannot_update_agency || viewing_oversight_as_transit
  - if in_travel_patterns_mode?
    =f.input :agency_code, label: 'Survey Agency Code', readonly: cannot_update_agency || viewing_oversight_as_transit
  =render partial: "shared/description_fields", locals: { form: f, record: @agency, override_readonly: viewing_oversight_as_transit }

  -# For type-specific fields
  -case @agency.agency_type.name
  -when "TransportationAgency"
    =simple_form_for :oversight do |foa|
      -# Automatically assign the new agency to the current user's oversight agency
        if they are an oversight agency admin
      - if current_user.superuser?
        = foa.input :oversight_agency_id,
          required: true,
          collection: OversightAgency.all.order(:name),
          label_method: :name,
          value_method: :id,
          selected: @agency.agency_oversight_agency&.oversight_agency_id,
          include_blank: 'Select an Oversight Agency',
          wrapper_html: {id: 'oversight_select'}
      - if !current_user.superuser?
        = foa.input :oversight_agency_id,
          disabled: !current_user.superuser?,
          collection: [@agency.agency_oversight_agency&.oversight_agency].compact,
          label_method: :name,
          value_method: :id,
          include_blank: false,
          readonly: true,
          selected: @agency.agency_oversight_agency&.oversight_agency_id,
          wrapper_html: {id: 'oversight_select'}
        = foa.input :oversight_agency_id,
          as: :hidden,
          disabled: current_user.superuser?,
          input_html: {id: :hidden_oversight_agency_id,
            value: @agency.agency_oversight_agency&.oversight_agency_id}
  -when "PartnerAgency"
  -when "OversightAgency"
  -else
  
:javascript
  $(document).ready(function() {
    var fh = new FormHandler($('#{form_selector_from_id}'));
  });
