=content_for :header do
  = "External Trip Booking Services"

=simple_form_for Config,
  url: admin_configs_path,
  remote: true, 
  html: { class: 'form-horizontal', 
          id: form_id_from_path, 
          multipart: true, 
          method: 'patch' },
  authenticity_token: true do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  %h4.text-center Ecolane
  = f.input :ecolane_url, required: false,
    label: "Ecolane API URL",
    input_html: {value: @configs.find_by(key: :ecolane_url).try(:value)},
    as: :string

  - unless fmr_admin_user?
    %h4.text-center RidePilot
    = f.input :ride_pilot_url, required: false,
      label: "RidePilot API URL",
      input_html: {value: @configs.find_by(key: :ride_pilot_url).try(:value)},
      as: :string
    =f.input :ride_pilot_token, required: false,
      label: "RidePilot API Token",
      input_html: {value: @configs.find_by(key: :ride_pilot_token).try(:value)},
      as: :string

    %h4.text-center Trapeze

    = f.input :trapeze_url, required: false,
      label: "Trapeze API URL",
      input_html: {value: @configs.find_by(key: :trapeze_url).try(:value)},
      as: :string
    = f.input :trapeze_user, required: false,
      label: "Trapeze API User",
      input_html: {value: @configs.find_by(key: :trapeze_user).try(:value)},
      as: :string
    = f.input :trapeze_token, required: false,
      label: "Trapeze API Token",
      input_html: {value: @configs.find_by(key: :trapeze_token).try(:value)},
      as: :string
    = f.input :trapeze_ada_funding_sources, required: false,
      label: "ADA Funding Sources (Comma Separated)",
      input_html: {value: @configs.find_by(key: :trapeze_ada_funding_sources).try(:value).try(:join,',')},
      as: :text
    = f.input :trapeze_ignore_polygon_id, required: false,
      label: "Ignore Polygon ID",
      input_html: {value: @configs.find_by(key: :trapeze_ignore_polygon_id).try(:value)},
      as: :integer
    = f.input :trapeze_check_polygon_id, required: false,
      label: "Check Polygon ID",
      input_html: {value: @configs.find_by(key: :trapeze_check_polygon_id).try(:value)},
      as: :integer


  :javascript
    $(document).ready(function() {    
      new FormHandler($('#{form_selector_from_id}'));
    });
