=content_for :header do
  = "Miscellaneous"

=simple_form_for Config,
  url: admin_configs_path,
  remote: true, 
  html: { class: 'form-horizontal', 
          id: form_id_from_path, 
          multipart: true, 
          method: 'patch' },
  authenticity_token: true do |f|
  =remote_form_input # This sends the partial_path to the controller, so it can serve back the correct partial

  = f.input :dashboard_mode, require: true,
    label: "Dashboard Mode",
    include_blank: false,
    name_method: :name,
    value_method: :value,
    collection: build_dashboard_mode_collection,
    selected: Config.find_by(key: :dashboard_mode).try(:value) || :default

  = f.input :feedback_overdue_days, required: true,
    label: "Days before sending feedback reminders",
    input_html: {value: (Config.find_by(key: :feedback_overdue_days).try(:value) || 5)},
    as: :integer

  = f.input :ui_url, required: true,
    label: "Traveler UI URL",
    input_html: {value: (Config.find_by(key: :ui_url).try(:value) || "")},
    as: :string

  = f.input :require_user_confirmation, require: true, include_blank: false,
    label: "Require users to confirm email addresses",
    input_html: {value: (Config.find_by(key: :require_user_confirmation).try(:value) || false)},
    as: :select

  = f.input :max_walk_minutes, require: true,
    label: "Max walk minutes",
    input_html: {value: (Config.find_by(key: :max_walk_minutes).try(:value) || "45")},
    as: :integer
  
  = f.input :walk_reluctance, require: true,
    label: "Walk reluctance",
    input_html: {value: (Config.find_by(key: :walk_reluctance).try(:value) || "10")},
    as: :integer

  = f.input :maximum_booking_notice, require: true,
    label: "Maximum Booking Notice (Days)",
    input_html: {value: (Config.find_by(key: :maximum_booking_notice).try(:value) || "30")},
    as: :integer


:javascript
  $(document).ready(function() {    
    new FormHandler($('#{form_selector_from_id}'));
  });
