=content_for :header do
  ="Edit News & Alert"

=simple_form_for @alert,
  url: admin_alert_path, authenticity_token: true, data: {type: 'html'},
  html: {class: 'form-horizontal', id: form_id_from_path, multipart: true, method: :put } do |f|

  =remote_form_input

  -I18n.available_locales.each do |locale|
    %h3.text-center
      =locale
    = f.input "#{locale}_subject", label:"Subject", :as => :string
    = f.input "#{locale}_message", label:"Message", :as => :text
  = f.input :expiration, required:true, as: :datetime

:javascript
  $(document).ready(function() {
    new FormHandler($('#{form_selector_from_id}'));
  });