=content_for :header do
  ="Edit User"

=simple_form_for @user,
  url: admin_user_path, authenticity_token: true, data: {type: 'html'},
  html: {id: form_id_from_path, method: :put } do |f|

  %fieldset.form-horizontal
    = f.input :email, required: true, :as => :string
    = f.input :first_name, required: false, :as => :string
    = f.input :last_name, required: false, :as => :string
    = f.input :password, required: true, :as => :password
    = f.input :password_confirmation, required: true, :as => :password

  .form-group
    %label.col-xs-2.control-label Roles
    .col-xs-10
      .form-inline
        .panel.roles-wrapper.panel-default
          .row.panel-body
            .col-sm-12
              %span.roles-container
              .btn.add-role
                %span.text-muted add role
                %span.text-muted.glyphicon.glyphicon-plus


  :javascript
    $(document).ready(function() {
      var fh = new FormHandler($('#{form_selector_from_id}'));
      
      var rh = new RoleHelper(
        '#{@user.roles.to_json.html_safe}',
        $('.roles-container'),
        '#{escape_javascript render partial: "admin/users/role_form", locals: {f: f, role: @new_role}}'
      );
      
      // Click handler for adding new roles
      $('.add-role').click(function() {
        rh.addRole().trigger('change');
      });

      // Have the FormHandler watch the roles for changes, plus trigger change event for the new role
      fh.watch($('.roles-wrapper'));

      // Reset the schedule divs on form reset
      fh.onReset(function() {
        rh.reset();
      });
    });
