= f.input :email, required: true, :as => :string
= f.input :first_name, required: false, :as => :string
= f.input :last_name, required: false, :as => :string
= f.input :password, required: true, :as => :password
= f.input :password_confirmation, required: true, :as => :password
