=content_for :header do
  ="Upload Custom Geographies"

= f.input "file", required:true, label: "Upload Shapefile", :as => :file
= simple_form_for :agency do |fa|
  -if current_user.superuser?
    = fa.input :agency,
      collection: TransportationAgency.all
  -if current_user.currently_oversight?
    = fa.input :agency,
      collection: current_user.accessible_agencies
  -if current_user&.staff_agency&.type == "TransportationAgency"
    = fa.input :agency,
      readonly:true,
      collection: [current_user.staff_agency],
      selected: current_user.staff_agency.id
  -if current_user.currently_transportation?
    = fa.input :agency,
      readonly:true,
      collection: [current_user.current_agency],
      selected: current_user.current_agency.id
