<!DOCTYPE html>
<html>
  <head>
    <title>OneclickCore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- @locale = "es" %>
    <h1><%= t('hello') %></h1>
    <h1><%= TranslationEngine.translate_text(:hello) %></h1>
    <%= yield %>
  </body>
</html>
