<!DOCTYPE html>
<html>
  <head>
    <title>OneclickCore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center">
            <%= yield(:title)%>
            <%= yield(:test)%>
          </h1>
        </div>
      </div>
      <div class="row">
        <%= render :partial => 'shared/flash' %>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </body>
</html>
