<!DOCTYPE html>
<html>
  <head>
    <title>OneclickCore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %> <!-- For Google Charts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
    
    <!-- NAV MENU -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=<%= root_path %>>1-Click</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user%>
              <li class="menu-item agency">
                <!-- Only show agency emulation drop-down on list views. -->
                <% if action_name.in?(["index", "root", "staff", "travelers"]) &&
                  (current_user.oversight_staff? || current_user.oversight_admin? && @agency_map.count > 0) %>
                  <%= form_tag change_agency_admin_users_path do %>
                  <%= select("agency",
                             "id",
                             options_for_select(@agency_map, selected = (current_user&.current_agency&.id)), {:include_blank => false},
                             :onchange => "form.submit();") %>
                  <%= hidden_field_tag "come_from", request.fullpath %>
                  <% end %>
                <% end %>
              </li>
              <li>
                <%= link_to("Welcome #{current_user.full_name}", edit_admin_user_path(current_user), :method => :get) %> 
              </li>
            <% end %>
            
            <li class="dropdown">
              <% if current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilities<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% @admin_pages.each do |page| %>
                    <li><%= link_to page[:label], page[:url] %></li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li>
                    <% if in_travel_patterns_mode? %>
                      <%= link_to('Admin Guide', "https://#{ENV['AWS_BUCKET']}.s3.amazonaws.com/uploads/admin_guide.pdf", target: "_blank") %>
                    <% else %>
                      <%= link_to('Admin Guide', 'https://github.com/camsys/oneclick-core/wiki/Admin-User%27s-Guide', target: "_blank", method: :get) %>
                    <% end %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to('My Profile', edit_admin_user_path(current_user), method: :get) %>
                  </li>
                  <li>
                    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                  </li>
                </ul>
              <% end %>
            </li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- NAV MENU -->

    <!-- PAGE BODY -->
    <div class="container-fluid">
      <header class="row app-header__title <%= content_for?(:title) && content_for?(:header_form) ? 'header--two-col' : ''%>" >
        <div class="col-sm-12">
          <% if content_for?(:title) %>
          <h1 class="text-center header__title">
            <%= yield(:title)%>
          </h1>
          <% end %>
          <% if content_for?(:last_updated) %>
          <p class="text-center">
            <%= yield(:last_updated)%>
          </p>
          <% end %>
        </div>
        <%= yield(:header_form) %>
      </header>
      <div class="row">
        <%= render :partial => 'shared/flash' %>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <!-- PAGE BODY -->

    
  </body>
  <footer>
    <div class="text-muted">
      <%= "OneclickCore " + OneclickCore::Application.config.version.to_s + (ENV['AWS_BUCKET'] == 'occ-pa-dev' ? " (#{`git rev-parse --short HEAD`.chomp})" : '') %>
    </div>
  </footer>
  <script defer>
    $.fn.DataTable.ext.pager.numbers_length=5
  </script>
</html>
