<!DOCTYPE html>
<html>
  <head>
    <title>OneclickCore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %> <!-- For Google Charts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=<%= root_path %>>1-Click</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">

            <% if current_user and current_user.admin? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilities<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%- @admin_pages.each do |page| %>
                  <li>
                    <%= link_to page[:label], page[:url] %>
                  </li>
                <% end %>

                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
                </li>

              </ul>
            <% end %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
   

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center">
            <%= yield(:title)%>
          </h1>
        </div>
      </div>
      <div class="row">
        <%= render :partial => 'shared/flash' %>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </body>
  <footer>
    <%= "OneclickCore " + OneclickCore::Application.config.version.to_s %>
  </footer>
</html>
